.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1440px;
  height: 70px;
  z-index: 5;

  // border-style: dashed;

  background: #ffffff;
}
.container-main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  gap: 16px;

  width: 233.06px;
  height: 42.06px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  .logo {
    /* Frame */
  
    width: 42.06px;
    height: 42.06px;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .logo-pic {
    width: 42.06px;
    height: 42.06px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .main-title {
    width: 127px;
    height: 33.97px;
  
    font-family: "Ubuntu";
    font-style: normal;
  
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: center;
  
    color: #000000;
  
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  padding-left: 80px;

  // padding: 0px 27px 0px 0px;

  // width: 989px;
  height: 46px;

  /* Inside auto layout */
  
  order: 1;
  flex-grow: 0;
}
.nav-bar-btn-home-page {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 17px;
  gap: 10px;
  align-items: center;
  width: 134px;
  height: 42px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.nav-bar-title-home-page {
  width: 100px;
  height: 22px;
  padding-left: -17px;
  font-family: ineter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */
  display: flex;
  align-items: center;

  color: #7800b1;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.nav-bar-title-home-page:hover {
  color: #8c53a7;
}

.nav-bar-btn {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  // align-items:flex-start;
  // padding: 10px 17px;
  gap: 10px;

  width: 150px;
  height: 42px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-bar-title {
  // width: 250px;
  // height: 25px;

  font-family: ineter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: #000000;

  /* Inside auto layout */
  order: 0;
  flex-grow: 0;
}
.nav-bar-title:hover {
  color: #7800b1;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // padding: 8px 24px 4px;
  padding-left: 90px;

  width: 216px;
  height: 52px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.flag {
  width: 24px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.US-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  width: 40px;
  height: 40px;

  border-radius: 48px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dark-mood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 8px 0px 0px;

  width: 40px;
  height: 40px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 48px;
  height: 40px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 40px;
  height: 40px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
