@font-face { font-family: ineter;
  src: url(Inter-VariableFont.ttf); } 

html { background-color: rgb(248, 243, 243); }   
.home-page {
  display: flex;
  flex-direction: column;
  margin:auto;
  
  width: 1440px;
  height: 1298px;
  background: #ffffff;

  position: relative;
  
}
